* {
    padding: 0;
    margin: 0;
}
.squareMenu  {
    width: 5vw;
    height: 9vh;
    font-size: 400%;
    background-color: #9b3b47;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    flex-direction: column;
    position: relative;
    left: 1%;
    margin-top: 0.5%;
    transition: 0.5s;
}
.barOne {
    height: 8.5px;
    background-color: #fdffcb;
    width: 70%;
}
.barTwo {
    height: 8.5px;
    background-color: #fdffcb;
    width: 70%;
}
.barThree {
    height: 8.5px;
    background-color: #fdffcb;
    width: 70%;
}
.orange {
    height: 100vh;
    width: 20vw;
    background-color: #f27561;
    position: absolute;
    left: -19%;
    transition: 0.5s;
}
.firstAnimation {
    margin-top: 20%;
}
.open {
    left: 0%;
}
.openButton {
    left: 14.3%;
    gap: 0;
}
.vanish {
    display: none;
    transition: 1s;
    opacity: 0;
}
body {
    display: flex;
}