* {
    padding: 0;
    margin-top: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.headerArticle {
    border: black solid 1px;
}
.mainArticle {
    border: black 1px solid;
    margin-top: -1px;
    height: 20vh;
}
li {
    display: inline;
}
a {
    color: black;
    font-size: 25px;
    padding: 8px;
    transition: 0.2s;
}
a:hover {
    color: red;
}
.capital {
    margin-left: 10px;
    margin-top: 5vh;
}